.img {
    image-rendering: auto;
}
.a {
    color: black;
    background-color: cornsilk;
}
.col-1 {
    display: inline-block;
    font-size: 20px;
    width: 80px;
    color: green;
}
.col-2 {
    display: inline-block;
    font-size: 20px;
    width: 550px;
}