/* ここから下に記載していく */
.body {
    width: 120px;
    margin: 0 auto;
    justify-content: center;
}
.header {
    display: flex;
}
.header-img {
    padding-top: 20px;
    padding-left: 50px;
    width: 381px;
    height: 80px;
}
.menubox {
    padding-left: 150px;
}

.menu {
    display: flex;
}
ul li{
    font-size: 21px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px
}


/* mainvisual */
.mainvisual {
    width: 1200px;
    height: 500px;
    background: url("../img/mainbg.png")no-repeat center center;
    background-size: cover;
    margin: 0 auto;
}
.main-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 235px;
    padding-bottom: 30px;
}
.main-text {
    color: white;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 235px;
}
/* contentおわり */

/* Aboutここから */
.content {
    width: 1200px;
    margin: auto;
}
.title {
    font-size: 24px;
    font-weight: bold;
    color: #ffd61a;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}
.title2 {
    font-size: 18px;
    padding-bottom: 60px;
}
.about-title {
    font-size: 18px;
    text-align: center;
    padding-bottom: 60px;
}
.about-text {
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
}
.about-text2 {
    font-size: 16px;
    text-align: center;
    padding-bottom: 80px;
}
.about-letter {
    letter-spacing: 2.5px;
}
.about-img {
    display: flex;
    justify-content: center;
}

/* aboutおわり */

/* Courseここから */
.title2 {
    font-size: 24px;
    font-weight: bold;
    color: #222222;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.course1 {
    display: flex;
    justify-content: center;
}
.course-img {
    height: 400px;
    width: 600px;
}

.c-background {
    background: #fafafa;
    width: 600px;
    height: 400px;
}
.c-t {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 50px;
}
.c-title {
    color: #222222;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
}

.c-text {
    color: #222222;
    width: 430px;
    font-size: 16px;
}
.c-t2 {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 120px;

}
.c-title2 {
    color: #222222;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
}

.c-text2 {
    color: #222222;
    width: 430px;
    font-size: 16px;
}


/* Courseおわり*/

/* NEWSここから */

.news-content {
    display: flex;
    justify-content: center;
}

a:hover {
    text-decoration: none;
}

.news {
    text-align: left;
    padding-left: 30px;
    width: 300px;
}

.news-day {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 24px;
}

.news-text {
    line-height: 250%;
    font-size: 14px;
    margin-bottom: 60px;

}
.button {
    text-align: center;
}
.news-button {
    display: inline-block;
    width: 300px;
    height: 60px;
    font-size: 18pt;        /* 文字サイズ */
    text-align: center;      /* 文字位置   */
    cursor: pointer;     /* カーソル   */
    padding: 12px 12px;   /* 余白       */
    background: #ffd61a;     /* 背景色     */
    color: #ffffff;     /* 文字色     */
    border: 2px solid #ffd61a;    /* 枠の指定 */
    margin-top: 60px;
    margin-bottom: 60px;
}

/* NEWSおわり*/

/* Accessここから */

.access-bg {
    background: #fafafa;
    width: 1200px;
}
.map {
    margin-bottom: 60px;
}


.info {
    margin: auto;
    margin-bottom: 60px;
}

.info-th {
    width: 150px;
    line-height: 50px;
    text-align: left;
    padding-bottom: 30px;
}
/* Accessおわり*/

/* Contactここから */

.contact-text {
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
}
.contact-text2 {
    font-size: 16px;
    text-align: center;
    padding-bottom: 70px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.form-table table tr {
    border-top:solid 1px #bfbfbf;
}
.form-table table tr:last-child {
    border-bottom:solid 1px #bfbfbf;
}
.form-table table th {
    text-align: left;
    width: 240px;
    padding: 8px 64px 8px 16px;
    vertical-align: top;
}
.form-table table td {
    width: 400px;
    padding: 8px;
    border-left: solid 1px #bfbfbf;
}

.check {
    padding-bottom: 24px;
}
.contact-button {
    display: inline-block;
    width: 300px;
    height: 60px;
    font-size: 18pt;        /* 文字サイズ */
    text-align: center;      /* 文字位置   */
    cursor: pointer;     /* カーソル   */
    padding: 12px 12px;   /* 余白       */
    background: #ffd61a;     /* 背景色     */
    color: #ffffff;     /* 文字色     */
    border: 2px solid #ffd61a;    /* 枠の指定 */
    margin-top: 60px;
    margin-bottom: 140px;
}
.footer {
    background-color: #707070;
    margin: 0 auto;
    width: 1200px;
}
.footer-text {
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}